.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: flex-start;
}

.normal {
    background-color: #a6a877;
}

.grass {
    background-color: #77c850;
}

.fire {
    background-color: #ee7f30;
}

.water {
    background-color: #678fee;
}

.electric {
    background-color: #f7cf2e;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #dfbf69;
}

.flying {
    background-color: #a98ff0;
}

.poison {
    background-color: #a040a0;
}

.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #6e5896;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #f9aec7;
}

.pokemon {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
}

.pokemon .number {
    color: #000;
    opacity: .3;
    text-align: right;
    font-size: .625rem;
}

.pokemon .name {
    text-transform: capitalize;
    color: #FFF;
    margin-bottom: .25rem;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type{
    text-transform: capitalize;
    color: #FFF;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
    text-align: center;
    filter: brightness(1.05);
}

.pokemon .detail img {
    max-width: 100%;
    height: 70px;
}

.pokemon .container .abilities {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.pokemon .container .abilities .title {
    text-transform: capitalize;
    color: #FFF;
    margin-bottom: .25rem;
    
}

.pokemon .container .abilities .ability {
    text-transform: capitalize;
    color: #FFF;
    padding: .25rem .25rem;
    margin: .25rem 0;
    font-size: .725rem;
    border-radius: 1rem;
    text-align: center;
    filter: brightness(1.05);
}

.pokemon .container {
    padding: 0 2rem;
    overflow: hidden;
    height: 0;
    transition: all .5s;
    transform: translateY(auto);
}

.pokemon:hover .container {
    height: auto;
    transform: translateY(0);
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    width: 100%;
    padding: 0;
}

.pagination button {
    margin-top: -0.8rem;
    margin-bottom: 1rem;
    padding: 1rem 1rem;
    font-size: .625rem;
    background-color: #6C79DB;
    border: none;
    border-radius: 50%;
    position: absolute;
    opacity: 0.8;
    transition: all 0.5;

}

.pagination button:hover {
    cursor: pointer;
    background-color: #949cd8;
}

.pagination button img {
    width: 2rem;
    height: 2rem;
}

@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}